.container {
  margin-top: 80px;
}

.tblManageConfig {
  margin-top: 2em;
}

ngb-pagination {
  float: right;
}

.dropdown-toggle::after {
  content: none;
}

.option-icon {
  margin-right: 5px !important;
  margin-bottom: 3px !important;
}
